{% extends "base.html" %}
{% block content %} 
<h2>Foorumi</h2>

<div>
    <table class="table table-bordered">
        <tr class="success h3">
            <td>Keskustelualue</td>
            <td>Aiheet</td>
            <td>Viestit</td>
            <td>Uusin Viesti</td>
        </tr>
        <tr>
            <td><a>Kahvipöytäkeskustelu</a></td>
            <td>2</td>
            <td>9234037</td>
            <td><a>1.1.2015 01:01 Ville viimeisin </a></td>

        </tr>
        <tr>
            <td><a>Suuri pulttauskeskustelu</a></td>
            <td>23423</td>
            <td>999999999</td>
            <td><a>1.1.2015 01:01 Ville viimeisin </a></td>

        </tr>
    </table>
</div>
{% endblock %}