{% extends "base.html" %}
{% block content %}
<h3><a>Foorumi</a> >> <a>Kahvipöytäkeskustelu</a> </h3> 
<h1>Luo uusi keskusteluaihe</h1>

<form>
    <div class="form-group">
        <label>Otsikko</label>
        <input class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Viesti</label>
        <textarea rows="10" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Lähetä</button>
    <button type="submit" class="btn btn-danger">Peruuta</button>

</form>
{% endblock %}