{% extends "base.html" %}
{% block content %}
<h3><a>Foorumi</a> </h3> 
<h2>Kahvipöytäkeskustelu</h2>

<div>
    <table class="table table-bordered">
        <tr class="success h3">
            <td>Aiheet</td>
            <td>Aloittaja</td>
            <td>Vastaukset</td>
            <td>Uusin Viesti</td>
        </tr>
        <tr>
            <td><a>Parempaa kahvia uudella vai vanhalla moccamasterilla</a></td>
            <td><a>Allu aloittaja</a></td>
            <td>1</td>
            <td><a>1.1.2015 01:01 Ville viimeisin </a></td>

        </tr>
        <tr>
            <td><a>Maidolla vai ilman</a></td>
            <td><a>Allu aloittaja</a></td>
            <td>9234034</td>
            <td><a>1.1.2015 01:01 Ville viimeisin </a></td>

        </tr>
    </table>
</div>
{% endblock %}