{% extends "base.html" %}
{% block content %}
<h3><a>Foorumi</a> >> <a>Kahvipöytäkeskustelu</a> </h3> 
<h2><a> Parempaa kahvia uudella vai vanhalla moccamasterilla?</a></h2>
<div>
    <table class="table table-bordered">
        <tr class="success h3">
            <td>Kirjoittaja</td>
            <td>Viesti</td>
            <td>Lähetetty</td>
        </tr>
        <tr>
            <td>Ville viimeisin</td>
            <td>No vanhalla tietty.</td>
            <td>Lähetetty 2.1.2015</td>
        </tr>
        <tr>
            <td>Allu aloittaja</td>
            <td>Että sellaista minä vaan kun on tonne sohville tullut uusi kahvinkeitin jo jonkin aikaa sitten niin olen aliut miettiin että onko maussa eroa?
                <br>
                <br>Nii että maistaako jengi eroa?</td>
            <td>Lähetetty 2.1.2015</td>
        </tr>
    </table>
</div>
{% endblock %}