{% extends "base.html" %}
{% block content %}
<h2>{{aihealue.otsikko}}</h2>
<h2 class="small">{{aihealue.kuvaus}}</h2>
<h2 class="small">Nakyy ryhmille: {% for ryhma in aihealue.kayttajaryhmat() %}<a href="{{base_path}}/ryhma/{{ryhma.id}}">{{ryhma.kuvaus}}</a>, {% endfor %}</h2>

<div>
    <table class="table table-bordered">
        <tr class="success h3">
            <td>Aiheet</td>
            <td>Aloittaja</td>
            <td>Vastaukset</td>
            <td>Uusin Viesti</td>
        </tr>
        {% for aihe in aihealue.aiheet() %}
        <tr>
            <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.vastaukset[0].otsikko}}</a></td>
            <td><a href="{{base_path}}/kayttaja/{{aihe.vastaukset[0].laatija}}">{{aihe.vastaukset[0].laatijanNimi()}}</a></td>
            <td>{{aihe.vastauksienMaara()}}</td>
            <td><a>{{aihe.viimeisinViesti().julkaistu}} </a> <br> käyttäjältä <a href="{{base_path}}/kayttaja/{{aihe.viimeisinViesti().laatija}}"> {{aihe.viimeisinViesti().laatijanNimi()}}</a></td>

        </tr>
        {% endfor %}
    </table>

    {% if user_logged_in %}
    <a href="{{base_path}}/aihealue/{{aihealue.id}}/uusiaihe"><button class="btn btn-primary">Uusi Aihe</button></a>
    {% else %}
    <a href="{{base_path}}/kirjaudu"><button class="btn btn-primary">Kirjaudu sisään luodaksesi uuden aiheen</button></a>
    {% endif %}


</div>
{% endblock %}