{% extends "base.html" %}
{% block content %} 
<h2>Foorumi</h2>

<div>
    <table class="table table-bordered">
        <tr class="success h3">
            <td>Keskustelualue</td>
            <td>Aiheet</td>
            <td>Viestit</td>
            <td>Uusin Viesti</td>
        </tr>
        {% for aihealue in aihealueet %}
        <tr>
            <td><a href ="{{base_path}}/aihealue/{{aihealue.id}}">{{aihealue.otsikko}}</a><br> <p class="small"> {{aihealue.kuvaus}}</p>
                {% if user_logged_in.kuuluuRyhmaan(1) %}
                <a href="{{base_path}}/aihealue/{{aihealue.id}}/muokkaa"><button class="btn btn-default btn-xs">Muokkaa</button></a>
                <a href="{{base_path}}/aihealue/{{aihealue.id}}/poista"><button class="btn btn-danger btn-xs">Poista</button></a>
                {% endif %}
            </td>
            <td>{{aihealue.aiheidenMaara()}}</td>
            <td>{{aihealue.viestienMaara()}}</td>
            <td><a href="{{base_path}}/aihe/{{aihealue.viimeisinViesti().aihe}}">{{aihealue.viimeisinViesti().julkaistu}} </a> <br> käyttäjältä <br> <a href="{{base_path}}/kayttaja/{{aihealue.viimeisinViesti().laatija}}"> {{aihealue.viimeisinViesti().laatijanNimi()}} </a></td>

        </tr>
        {% endfor %}
    </table>
    {% if user_logged_in %} 
    <a href="{{base_path}}/uusiaihealue"><button class="btn btn-primary">Uusi aihealue</button></a>
    {% endif %}
</div>
{% endblock %}